In [8]:
import numpy as np
import pandas as pd
import sklearn.datasets

In [9]:
from sklearn.datasets import load_boston
boston_data = load_boston()
X = boston_data.data
y = boston_data.target


# to visualize the whole dataframe
data = pd.DataFrame(X, columns= boston_data.feature_names)
data["Price"] = y
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [12]:
from sklearn.model_selection import train_test_split

X = data.drop("Price", axis=1) 
y = data["Price"]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [14]:
from sklearn.linear_model import LinearRegression

linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

LinearRegression()

In [25]:
prediction = linear_reg.predict(X_test)

# lets check for the first value in out testing data
print("Actual value of the house:- ", y_test[0]) 
print("Model Predicted Value:- ", prediction[0])

#lets check for the first 5 values in testing data and compare with predictions
print(y_test.head())
print(prediction[:5])

Actual value of the house:-  24.0
Model Predicted Value:-  28.99672361982494
173    23.6
274    32.4
491    13.6
72     22.8
452    16.1
Name: Price, dtype: float64
[28.99672362 36.02556534 14.81694405 25.03197915 18.76987992]

In [29]:
from sklearn.metrics import mean_absolute_error

mse = mean_absolute_error(y_test, prediction)
print(mse)

root_mean_squared_error = np.sqrt(mse)
print(root_mean_squared_error)

3.189091965887851
1.7858028911074848